
@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
a{
    color: unset;
    text-decoration: none;
}

body,html{
    padding: 0;
    margin: 0;
}
.loader{
    z-index: 999;
    animation: loader_fade 3s;
    display: flex;
    position:fixed;
    top:0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    .loader__logo{
        width: 20%;
        height: 5%;
        opacity: 0;
        animation: rotation 2.5s;
    }
    @keyframes rotation {
        0% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100%{
            transform: rotate(720deg);
            opacity: 0;
        }
    }
}
@keyframes loader_fade {
    0%{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    90% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}
header{
    font-family: $texte;
    text-align: center;
        .header__sub-search{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 2em;
            background-color: $fair;
                h1.header__heading{
                    display:flex;
                    justify-content: center;  
                    text-align: center; 
                }
                p.header__quote{
                    text-align: center;
                    font-family: $texte;
                    font-weight:200;
                    color:$fas;
                }
                .header__btn-container{
                    display: flex;
                    justify-content: center;
                }
        }
}
.header__logo{
    width: 43vw;  
    margin: 0.5em 0;
}
.header__search-bar{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: $stone; 
    background:linear-gradient(to bottom, #CDCECE , #E9EAEA 10% ) ;
    padding: 0.5em 0;
        .header__search-bar--input{
            outline: none;
            border-color:transparent;
            background-color: unset;
            margin-left: 1em;
            font-family: $texte;
        }
}
::placeholder{
    color: black;
}
input:focus::placeholder{
    color:transparent;
  }
input:focus{
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}
h1.header__heading{
    margin: 1.75em 0 0 0;
    font-size:1.5em;
    padding: 0 1em;
}

.header__btn{
    border-radius: 25em;
    background:linear-gradient(175deg, $secondaire , $primaire ) ;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    color: #FFFFFF;
    padding: 1em;
    margin: 1em 0 3.5em 0;
    cursor: pointer;
}

.operation{
    font-family: $texte;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;
    .operation__heading{
        font-family: $texte;
        font-size: 1.5em;
    }
    .operation__card{
        position: relative;
        animation: fadein 2s;
        height: 75px;
        display: flex;
        align-items:center;
        text-align: start;
        border-radius: 25px;
        background-color: $fair;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 0.75em 0;
        cursor: pointer;
        .operation__card--num{
            display: flex;
            text-align: center;
            align-items:center;
            justify-content: center;
            width: 1em;
            font-size: 15px;
            margin: 0 2em 0 -0.5em;
            padding: 0.20em;
            border-radius: 50%;
            background-color:$primaire;
            color: #FFFFFF;   
        } 
        .fas{
            color:$fas;
        }
        .operation__card__quote{
            display: flex;
            margin-left: 2.5em;
        }

    } 
}
.operation__card:hover{
    background-color: #F6EDFF;
    .fas{
        color: $primaire;
    }
}
.restaurants{
    font-family: $texte;
    background-color: $fair;
    padding-top: 2em;
    margin-top: 3em;

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    ". e ."
    ". a ."
    ". b ."
    ". c ."
    ". d .";
    // .restautants__heading{
    //     grid-area: a;
    // }
    // .restaurants__cards{
    //     grid-area: b;
    // }
    .a{
        grid-area: a;
    }
    .b{
        grid-area: b;
    }
    .c{
        grid-area: c;
    }
    .d{
        grid-area: d;
    }
    .e{
        grid-area: e;
    }
    .restaurants__heading{
        margin: 1em 0 0 0.70em;
        font-size: 1.5em;
    }
    .restaurants__cards{
        position:relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        margin: 1.25em 1.25em ;
        background-color: #FFFFFF;
        width: 335px;
        height: 250px;
        cursor: pointer;
    }
        .restaurants__cards__pic{
            border-radius: 15px 15px 0 0;
            height: 174px;
            width: 335px;
            object-fit: cover;
        }
        .restaurants__cards__container{
            border-radius: 0 0 15px 15px;
            display:flex;
            height: 70px;
            .restaurants__cards__container--heading{
                display: flex;
                flex-direction: column;
                margin: 0;
                width: 50%;
                padding: 1em 0 0 1em;
                font-weight:lighter; 
            }
            .restaurants__cards__container__pic-sticker{
                position:relative;
                bottom:165px;
                left: 55px;
                color:#038765 ;
                background-color: #98E2CF;
                font-size:small;
                font-weight:600;
                height: 29px;
                width: 81px;
                border-radius: 2px;
                display: flex;
                text-align: center;
                align-items:center;
                justify-content: center;
            }
            i{
                position: absolute;
                right:0px;
                width: 25px;
                text-align: right;
                font-size: x-large;                
                padding: 0.70em 1em 0 0;  
                color: #FFFFFF; 
                -webkit-text-stroke: 1px black;
                
            }  
            i:hover{
                background:linear-gradient(175deg, $primaire, $secondaire  ) ;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px transparent;
                
            } 
            a{
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0px;
            }
        }      
}

footer{ 
    background-color: #353535;
    color: #FFFFFF;
    font-family: $texte;
    padding: 1.5em 0 1.5em 1.5em ; 
    margin-top: 4em;  
    .logo-bis{
        font-style: italic;
        font-weight: bold;
        font-family: $let;
        font-size: large;
        margin-bottom: 1em;
    }
    .footer__options{
        color: white;
        margin: 0 0 0.5em 0;
        cursor: pointer;
        p{
            margin: 0;
            
        }

        .fa-utensils{
            margin-right: 10px;
        }
        .fa-hands-helping{
            margin-right: 4px;
        }
        
    }
    .footer__contact{
        display:flex;
        flex-direction: column;
        color: #FFFFFF;
        margin-bottom: 0;
        margin: 0 0 1.25em 0;
        p{
            margin: 0 0 0.5em 0;
            cursor: pointer;
        }
    }
}
@media (min-width: 1250px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        .header__logo{
            height: 100px;
            padding: 0;
            margin: 3em 0 3em 0;
            
        }
        .header__sub-search{
            width: 100%;
        }
        .header__search-bar{
            width: 325px;
            align-self: center;
            box-shadow: 1px 5px 5px darkgray;
            border-radius: 25px;
            margin: 1em;
            background: unset;
            background-color: #E9EAEA;
        }
    }
    
    .header__search-bar--input {
        font-size: large;
    }
    .operation{
        display: grid;
        flex-direction: row;
        gap: 1em 2em;
        grid-template-areas: 
        ". oph oph oph ."
        ". op1 op2 op3 .";
        .operation__card{
            width: 20em;
        }
        .op1{
            grid-area: op1;
        }
        .op2{
            grid-area: op2;
        }
        .op3{
            grid-area: op3;
        }
        .operation__heading{
            text-align: center;
            grid-area: oph;
        }
    }
    .restaurants{
        
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        " . e . . "
        ". a b . "
        ". c d . ";
    }

    footer{
        display:flex;
        justify-content: center;
        gap:1em;
        .logo-bis{
            position: absolute;
            left: 5em;
        }
        .footer__contact{
            margin-left: 2em;
        }
    }
}
@media (min-width: 767px) and (max-width: 1249px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        .header__logo{
            height: 100px;
            padding: 0;
            margin: 3em 0 3em 0;
            
        }
        .header__sub-search{
            width: 100%;
        }
        .header__search-bar{
            width: 325px;
            align-self: center;
            box-shadow: 1px 5px 5px darkgray;
            border-radius: 25px;
            margin: 1em;
            background: unset;
            background-color: #E9EAEA;
        }
    }
    
    .header__search-bar--input {
        font-size: large;
    }
    .operation{
        display: grid;
        flex-direction: row;
        gap: 1em 2em;
        grid-template-areas: 
        ". oph oph oph ."
        ". op1 op1 op1 ."
        ". op2 op2 op2 ."
        ". op3 op3 op3 .";
        .operation__card{
            width: 20em;
        }
        .op1{
            grid-area: op1;
        }
        .op2{
            grid-area: op2;
        }
        .op3{
            grid-area: op3;
        }
        .operation__heading{
            text-align: center;
            grid-area: oph;
        }
    }
    .restaurants{
        
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        ". e e ."
        ". a b ."
        ". c d .";
        // .restautants__heading{
        //     grid-area: a;
        // }
        // .restaurants__cards{
        //     grid-area: b;
        // }
        .a{
            grid-area: a;
        }
        .b{
            grid-area: b;
        }
        .c{
            grid-area: c;
        }
        .d{
            grid-area: d;
        }
        .e{
            grid-area: e;
        }
    }

    footer{
        display:flex;
        justify-content: center;
        gap:1em;
        .logo-bis{
            position: absolute;
            left: 1.5em;
        }
        .footer__contact{
            margin-left: 2em;
        }
    }
}

