@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
body,html{
    padding: 0;
    margin: 0;
    font-family: $texte;
}
.loader{
    z-index: 999;
    animation: loader_fade 3s;
    display: flex;
    position:fixed;
    top:0px;
    width: 0px;
    height: 0px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    justify-content: center;
    .loader__logo{
        width: 20%;
        height: 5%;
        opacity: 0;
        animation: rotation 2.5s;
    }
    @keyframes rotation {
        0% {
            opacity: 1;
        }
        90% {
            opacity: 1;
        }
        100%{
            transform: rotate(720deg);
            opacity: 0;
        }
    }
}
@keyframes loader_fade {
    0%{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    90% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 1);
    }
    100% {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0);
    }
}
.header__items{
    display: flex;
    margin-top: 1em;
    .header__logo__img{
        width: 40%;
        margin-bottom: 1em;   
    }
    .fa-arrow-left{
        display: flex;
        align-self: flex-start;
        margin-right: 5em;
        padding-left: 1em;
        padding-top: 0.25em;
    }  
}
.image{
    width:100%;
    height: 257px;
    background-image: url("../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size:contain;
    background-repeat: no-repeat;
    &.m2{
        background-image: url("../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-size:cover;
        background-position-y: -6em ;
    }
    &.m3{
        background-image: url("../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-size:cover;
    } 
    &.m4{
        background-image: url("../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
        background-size:cover;
    }  
}


h2{
    font-family:$let;
    margin-bottom: 0;
}
.menu{
    width:max-content, auto;
    padding: 0 1em;
    background-color: $fair;
    border-radius: 40px 40px 0 0;
    margin-top: -3.5em;
    .menu__heading{
        display: flex;
        align-items: center;
        .fa-heart{
            display: flex;
            padding: 0.5em 1.5em 0 0;
            font-size: x-large;
            justify-content: flex-end;
            flex-grow: 1;
            align-items: stretch;
            color: $fair; 
            -webkit-text-stroke: 1px black;         
        }  
            .fa-heart:hover{
                background:linear-gradient(175deg, $primaire, $secondaire  ) ;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 1px transparent;
            }
    }
    .menu__sub-title{
        font-family: $texte;
        font-weight: 200;
        border-bottom: solid $tertiaire;
        padding: 0 0 0.25em 0;
        margin: 3em 19em 1em 0;
        
    }
    .menu__cards{
        display: flex;
        position: relative;
        animation: fadein 5s;
        text-align: start;
        border-radius: 15px;
        background-color:#FFFFFF;
        box-shadow: 0 4px 8px 0 rgba(73, 72, 72, 0.2);
        margin: 0.75em 0;
        cursor: pointer;

        .menu__cards__checked{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: width 1s;
            background-color:$tertiaire;
            border-radius: 0 15px 15px 0;
            width: 0px;
            overflow: hidden;

            .fa-check-circle{
                color:#FFFFFF;
                transition: transform 0.5s;
            }
        }   
        .menu__cards__container__heading{
            
            margin:0.5em 0 0 0.75em;
            line-height: 1.5em;
            font-weight: 200;
            overflow: hidden;
            height: 58px;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .menu__cards__price{
            flex-grow: 1;
            text-align:end;
            font-weight: bold;
            padding: 2.20em 1.25em 0 0;
        }
        
    
        p{
            margin: 0;
        }
        
    }
    .menu__cards:hover{
        .menu__cards__checked{
            width: 70px;
            .fa-check-circle{
                transform: rotate(360deg);
            }
            
        }
        
    }
    @keyframes fadein {
        0%{
            opacity:0;
        }
        60% {
            top: 50px;
            opacity:0;   
        }
        100% {
            top:0px;
            opacity:1;   
        }
    }
    
    .order__btn__container{
        padding: 1em 0 1.5em 5em;
        .order__btn{
            width: 186px;
            border-radius: 25em;
            background:linear-gradient(175deg, $secondaire , $primaire ) ;
            border: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            font-size: 1rem;
            color: #FFFFFF;
            padding: 1em;
            margin: 1em 0 3.5em 0;
            cursor: pointer;
        }
    }
  
}
footer{ 
    background-color: #353535;
    color: #FFFFFF;
    font-family: $texte;
    padding: 1.5em 0 1.5em 1.5em ;   
    .logo-bis{
        font-style: italic;
        font-weight: bold;
        font-family: $let;
        font-size: large;
        margin-bottom: 1em;
    }
    .footer__options{
        color: white;
        margin: 0 0 0.5em 0;
        cursor: pointer;
        p{
            margin: 0;    
        }

        .fa-utensils{
            margin-right: 10px;
        }
        .fa-hands-helping{
            margin-right: 4px;
        }
        
    }
    .footer__contact{
        display:flex;
        flex-direction: column;
        color: #FFFFFF;
        margin-bottom: 0;
        margin: 0 0 1.25em 0;
        p{
            margin: 0 0 0.5em 0;
            cursor: pointer;
        }
    }
} 